$navbar-height: 82px;
$navbar-bg-color: #f8f9fa;

$body-color: rgb(236, 240, 241);
$body-sm-color: #fff;

$primary-color: #3498db;
$danger-color: #e74c3c;

$badge-white-bg: #fff;
$badge-white-fg: #2980b9;

$outer-spacing: 2rem;

$article-spacing: 2rem;
$article-inner-spacing: $article-spacing / 2.0;

$form-group-spacing: 2rem;