/*
$primary-color: #3498db;
$danger-color: #e74c3c;
 */

html, body {
    margin: 0;
    padding: 0;
}

.page {
    width: 100vw;
    min-height: 100vh;
    padding: 2vh 2vw;
    margin: 0;
    max-width: 100%;
}

.front-page-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-size: auto auto;
    background: #1b4f72 url("/images/public/logo.svg") no-repeat center;
}

.even-cards {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
}

.even-cards .card + .card {
    margin-left: 3rem;
}
